{% extends 'olga/base.html' %}
{% load static %}

{% block css %}
    <link href="{% static 'vendor/css/products.css' %}" rel="stylesheet">
{% endblock css %}

{% block content %}
    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <h1 class="my-4">CAKES FROM Olga</h1>
                <div class="list-group">
                    {% for category in categories %}
                        <a href="{% url 'olga:category' category.id %}" class="list-group-item">{{ category }}</a>
                    {% endfor %}
                </div>
            </div>
            <!-- /.col-lg-3 -->

            <div class="col-lg-9">
                <div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel">
                    <div class="carousel-indicators mt-10">
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img src="{% static 'vendor/img/pictures.jpg' %}" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img src="{% static 'vendor/img/pictures1.jpg' %}" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img src="{% static 'vendor/img/pictures2.jpg' %}" class="d-block w-100" alt="...">
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                </div>

                <div class="row">
                {% for product in object_list %}
                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="card h-100">
                            <a href="{{ product.get_absolute_url }}">
                                <img class="card-img-top"
                                     src="{{ product.image.url }}"
                                     alt="">
                            </a>
                            <div class="card-body">
                                <h4 class="card-title">
                                    <a href="{{ product.get_absolute_url }}">{{ product.products }}</a>
                                </h4>
                                <h5>{{ product.price }} руб.</h5>
                                <p class="card-text">{{ product.description|truncatechars:50 }}</p>
                            </div>
                            <div class="card-footer text-center">
                                <button type="button" class="btn btn-outline-success">
                                    <a href="{% url 'users:basket_add' product.id %}">Отправить в корзину</a>
                                </button>
                            </div>
                        </div>
                    </div>
                {% endfor %}

                {% if is_paginated %}
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                            {% if page_obj.has_previous %}
                                <li class="page-item"><a class="page-link" href="{% if page_obj.has_previous %} {% url 'olga:paginator' page_obj.previous_page_number %} {% else %} # {% endif %}">Предыдущая</a></li>
                            {% endif %}

                            {% for page in paginator.page_range %}
                                <li class="page-item"><a class="page-link" href="{% url 'olga:paginator' page %}">{{ page }}</a></li>
                            {% endfor %}

                            {% if page_obj.has_next %}
                                <li class="page-item"><a class="page-link" href="{% if page_obj.has_next %} {% url 'olga:paginator' page_obj.next_page_number %} {% else %} # {% endif %}">Следующая</a></li>
                            {% endif %}
                        </ul>
                    </nav>
                {% endif %}
            </div>
        </div>
    </div>
<!-- /.container -->
{% endblock content %}