{% extends 'olga/base.html' %}
{% load static %}

{% block css %}
    <link href="{% static 'vendor/css/products.css' %}" rel="stylesheet">
{% endblock css %}

{% block content %}
<div class="container">
    <div class="row">
        {% for product in products %}
            <div class="col-lg-5">
                <h1 class="my-4 text-center">{{ product.products }}</h1>
                <div class="list-group">
                    <img src="{{ product.image.url }}">
                </div>
            </div>
        <!-- /.col-lg-3 -->

        <div class="col-lg-7">
            <h2 class="my-4">{{ product.description }}</h2>
                <div class="list-group">
                    <h3>{{ product.price }} руб.</h3>
                    <div class="card-footer">
                            <button type="button" class="btn btn-outline-success">Отправить в корзину</button>
                    </div>
                </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}